[user]
  name = Paulo Silva
  email = paulosilva86@gmail.com
[alias]
  s = status -s
  b = branch
  d = diff
  rename = branch -m
  amend = commit --amend --no-edit
  unstage = reset
  uncommit = reset --soft HEAD^
  slog = log --oneline --decorate --graph --all
[color]
  ui = true
[core]
  editor = code -w
[commit]
  template = ~/.gitmessage
